# Objectives

- reading html with pandas using pd.read_html() method
- introducing [**geopandas**](https://geopandas.org/en/stable/getting_started.html) 
- introducing [**folium**](https://python-visualization.github.io/folium/)
- Example: plotting meat consumption per country

# Warm-up

- install geopandas
- install folium

## reading html with pandas using pd.read_html() method

**we will be using this data of country world-wide meat consumption from this Wikipedia page** ==> [link](https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption)

In [14]:
import pandas as pd

# The URL we will read our data from
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption'
# read_html returns a list of tables from the URL
tables = pd.read_html(url)

# The data is in the first table - this changes from time to time - wikipedia is updated all the time.
table = tables[0]

table.head()

,Country,kg/person (2002)[9][note 1],kg/person (2009)[10],kg/person (2017) [11],kg/person (2017)[12]
0,Albania,38.2,44.1,41.78,NaN
1,Algeria,18.3,19.5,20.32,NaN
2,American Samoa,24.9,26.8,NaN,NaN
3,Angola,19.0,22.4,23.43,NaN
4,Antigua and Barbuda,56.0,84.3,74.56,NaN

In [15]:
table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185 entries, 0 to 184
Data columns (total 5 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      185 non-null    object
 1   kg/person (2002)[9][note 1]  183 non-null    float64
 2   kg/person (2009)[10]         178 non-null    object
 3   kg/person (2017) [11]        163 non-null    object
 4   kg/person (2017)[12]         36 non-null     float64
dtypes: float64(2), object(3)
memory usage: 7.4+ KB

In [16]:
import geopandas

# Read the geopandas dataset
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

**we can see the column Country of the table DataFrame should be merged with the column name in the world DataFrame**

In [17]:
# Merge the two DataFrames together
table = world.merge(table, how="left", left_on=['name'], right_on=['Country'])

table.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry,Country,kg/person (2002)[9][note 1],kg/person (2009)[10],kg/person (2017) [11],kg/person (2017)[12]
0,920938,Oceania,Fiji,FJI,8374.0,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",Fiji,39.1,38.8,41.16,NaN
1,53950935,Africa,Tanzania,TZA,150600.0,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982...",Tanzania,10.0,9.6,NaN,NaN
2,603253,Africa,W. Sahara,ESH,906.5,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948...",NaN,NaN,NaN,NaN,NaN
3,35623680,North America,Canada,CAN,1674000.0,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742...",Canada,108.1,94.3,90.09,69.02
4,326625791,North America,United States of America,USA,18560000.0,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000...",United States of America,124.8,120.2,121,98.21

In [7]:
# Clean data: remove rows with no data
table = table.dropna(subset=['kg/person (2002)[9][note 1]'])

In [11]:
import folium

## Build the interactive map with Folium and overlay the meat consumption data for country colouring

In [12]:
folium.Chor

AttributeError: module 'folium' has no attribute 'Chor'

In [13]:
# Create a map
my_map = folium.Map()

# Add the data
folium.Choropleth(
    geo_data=table,
    name='choropleth',
    data=table,
    columns=['Country', 'kg/person (2002)[9][note 1]'],
    key_on='feature.properties.name',
    fill_color='OrRd',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Meat consumption in kg/person'
).add_to(my_map)

my_map.save('meat.html')

AttributeError: module 'folium' has no attribute 'Choropleth'